
<div class="field">
	<div class="control">
		<label class="label"> <%= t :team_name %> </label>
		<input type="text" class="input" v-model="team.name" />
	</div>
</div>

<div class="content">
	<h2 class="title is-4"><%= t :invite_users %></h2>
	<p><%= t :invite_users_to %></p>
</div>

<div v-for="(user, index) in team.users_attributes">
	<div v-if="user._destroy =='1'">
		{{ user.name }} <%= t :will_be_removed %>
		<button v-on:click="undoRemove(index)" class="button is-small"><%= t :undo %></button>
	</div>
	<div v-else>
		<div class="field">
			<div class="control">
				<label class="label"><%= t :name %></label>
				<input type="text" class="input" v-model="user.name" />
			</div>
		</div>

		<div class="field">
			<div class="control">
				<label class="label"><%= t :email %></label>
				<input type="text" class="input" v-model="user.email" />
				<div id="errors" class="has-text-danger" v-if="errors.length">{{ errors }}</div>
			</div>
		</div>
		<input type="hidden" value="<%= current_user.id %>" />
		<div class="field">
			<div class="control">
				<button v-on:click="removeUser(index)" class="button is-small"><%= t :remove %></button>
			</div>
		</div>
	</div>
	<hr />
</div>

<div class="field">
	<div class="control">
		<button v-on:click="addUser" class="button is-link"><%= t :add_user %></button>
	</div>
</div>

<hr />

<div class="field">
	<div class="control">
		<% if current_page?(new_team_path) %>
			<button v-on:click="saveTeam" class="button is-success is-large"><%= t :create_team %></button>
		<% else %>
			<button v-on:click="saveTeam" class="button is-success is-large">S<%= t :save_team %></button>
		<% end %>
	</div>
</div>