<section class="section pt3">
	<p class="title is-5 border-bottom pb3 has-text-centered"> <%= "#{t("welcome")}" +" " +  "#{current_user.name}" %> 👋🏻</p>
	<div class="columns">

		<div class="column border-right ph4">
			<div class="level">
				<div class="level-left">
					<h3 class="subtitle is-5"> <%= t :my_projects %> <span class="tag is-rounded"><%= @projects.count %></span></h3>
				</div>
				<div class="level-right">
					<p class="field">
						<%= link_to new_project_path, class: 'button is-small' do %>
							<span class="icon is-small has-text-link"><i class="fa fa-plus"></i></span>
						<% end %>
					</p>
				</div>
			</div>
			<hr />
			<% @projects.each do |project| %>
				<div class="content border-bottom pb4">
					<p class="title is-4">
						<%= link_to project.name, project %>
					</p>
					<p class="subtitle is-6">
						<%= link_to project.team.name, project.team %>
					</p>
					<p class="f6"> <%= t :created_by %> <%= project.user.name %></p>
				</div>
			<% end %>
		
		</div>
		<div class="column border-right ph4">
			<div class="level">
				<div class="level-left">
					<h3 class="subtitle is-5"> <%= t :my_teams %> <span class="tag is-rounded"><%= @teams.count %></span></h3>
				</div>
				<div class="level-right">
					<p class="field">
						<%= link_to new_team_path, class: 'button is-small' do %>
							<span class="icon is-small has-text-link"><i class="fa fa-plus"></i></span>
						<% end %>
					</p>
				</div>
			</div>
			<hr />
			<% @teams.each do |team| %>
				<div class="content border-bottom pb4">
					<p class="title is-4">
						<%= link_to team.name, team %>
					</p>
					<p class="subtitle is-6"><%= team.users.count %> <%= t :teams %> </p>
					<span class="f6"><%= safe_join(team.users.map { |user| user.name }, ', ') %></span>
				</div>
			<% end %>

		</div>
s
		<div class="column ph4">
			<h3 class="subtitle is-5"> <%= t :activity %> </h3>
			<hr />
			<ul class="list">
				<%= render_activities(@activities) %>
			</ul>
		</div>
	
	</div>
</section>