<section class="hero is-link">
	<div class="hero-body">
		
		<%= content_tag :li do %>
			<%= link_to 'Switch to English', locale: :en%>
		<%end unless  current_page?(locale: :en) %>

		<%= content_tag :li do %>
			<%= link_to 'Mudar para portugues', locale: :pt%>
		<%end unless  current_page?(locale: :pt) %>
			
		


		<div class="container has-text-centered">
			<h1 class="title">
				<%= t :welcome_to %>
			</h1>
			<h2 class="subtitle">
				<%= t :short_description %>
			</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3"><%= t :question %></h3>
					<p><%= t :lorem_ipsium %></p>
					<p><%= t :lorem_ipsium %></p>
					<p><%= t :lorem_ipsium %></p>
				</div>
			</div>
			<div class="column is-4 is-offset1">
				<h4 class="subtitle is-4"> <%= t :sign_up_today %> </h4>
				<%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
			</div>
		</div>
	</div>
</section>