<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

	<% if !current_user.team_id.blank? %>
   <div class="field">
   	<div class="control">
   		<%= f.input :name, input_html: { class: "input" }, wrapper: false, label_html: { class: "label"} %>
   	</div>
   </div>
   <div class="field">
   	<div class="control">
   		<%= f.input :description, input_html: { class: "textarea" }, wrapper: false, label_html: { class: "label"} %>
   	</div>
   </div>

   <div class="field">
   	<div class="control">
   		<label class="label"><%= t :team%></label>
   		<div class="control has-icons-left">
   			<span class="select">
   				<%= f.input_field :team_id, collection: @teams, prompt: "Select team" %>
   			</span>
   			<span class="icon is-small is-left">
   				<i class="fa fa-users"></i>
   			</span>
   		</div>
   	</div>
   </div>

   <div class="field">
   	<div class="control">
   		<%= f.button :submit, class: "button is-link" %>
   	</div>
   </div>
	<% else %>
	
		<article class="message is-warning">
			<div class="message-body">
				<strong><%= t :not_part_of_a_team %></strong>
				<p> <%= t :you_can_create %> </p>
				<br />
				<%= link_to t('create_team'), new_team_path, class:'button' %>
			</div>
		</article>

	<% end %>

<% end %>
