<p id="notice"><%= notice %></p>

<h1><%= t :projects %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= link_to :show, project %></td>
        <td><%= link_to :edit, edit_project_path(project) %></td>
        <td><%= link_to :destroy, project, method: :delete, data: { confirm: :are_you_sure } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to :new_project, new_project_path %>
