<div class="section">
	<div class="container">
		<h1 class="title is-2"> <%= t :new_project %> </h1>
	
		<%= render 'form', project: @project %>
	<br />
	<%= link_to 'Back', root_path, class:'button' %>
	</div>
</div>